<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Insert title here</title>
	<link rel="stylesheet"
		  href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
</head>
<body>

<div class="text-center mt-3">home</div>
<div class="mt-2 text-center " id="show"></div>

<div class="mt-5 text-center">
	<form action="upload" method="post" enctype="multipart/form-data">
		<input type="file" placeholder="" name="file" />
		<button type="submit">上传文件</button>
	</form>
</div>



<script type="text/javascript">
	function on() {

		$.post("/get", {}, function(data) {

			$("#show").html(data);
			setTimeout(on(), 1000);
		})
	}

	function ou() {
		$.post("/long", {}, function(data) {
			$("#show").append(data);
			ou();
		})
	}

	ou()
</script>
</body>
</html>