<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>忘记密码</title>
    <link href="/css/font/font-awesome.4.7.0.css" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap/bootstrap.4.2.1.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="/ico/ppxface.ico">

</head>
<body>

<h1 class="text-center bg-danger text-white mt-5">安全中心</h1>
<div class="container  container-fluid">
    <div class="jumbotron  mt-5 mr-8 text-center">

        <form class="javascript: text-center text-red" name="myForm"
              method="post">

            <div class="btn btn-outline-danger">
                <b class="text-write">邮箱</b><input class=" ml-4" name="mail"
                                                   type="text" placeholder="_请输入您的邮箱"/></div>

            <div class="btn btn-outline-danger ml-3">
                <b class="text-write">验证码</b><input class=" ml-4" name="code"
                                                    type="text" placeholder="_请输入您的验证码"/>
            </div>

            <div>
                <button id="tel_btn"
                        class=" mt-5 btn btn-outline-warning btn-bg-danger text-primary"
                        type="button" onclick="getCodeByForget()">发送验证码
                </button>
                <button
                        class=" mt-5 btn btn-outline-warning btn-bg-danger text-primary"
                        type="button" onclick="submitForget()">获取账号密码
                </button>
            </div>
        </form>


        <div class="mt-4 text-danger">请妥善保管您的密码 不要将密码随意告知他人</div>
    </div>
</div>


<script type="text/javascript" src="/js/jquery/jquery.2.2.4.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.validate.1.19.1.js"></script>
<script type="text/javascript" src="/js/vue/vue.2.6.10.js"></script>
<script type="text/javascript" src="/js/layer/layer.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="/js/login/register.js"></script>

</body>
</html>