<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
</head>
<body>



	<table class="table table-hover ">

		<tr th:each="u: ${user}">
			<td>当前余额为:</td>
			<td th:text="${u.balance}"></td>
		</tr>
	</table>
	<div class="text-center mt-5 text-danger" id="app">
		<input class="mt-3" id="money" placeholder="请输入转入或取出的金额" />
		<button class="btn btn-outline-warning" onclick="transfer()">seek</button>
	</div>
	
	
	

	<script type="text/javascript">
	
				  function transfer() {

					if (this.money<0|this.money>10000) {
						layer.msg("金额错误")

						return false;
					}

					$.post("user/transfer", {
						money : $("#money").val(),
					}, function(data) {
						layer.msg(data);
					})
				}
		
	</script>

</body>
</html>